<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Detalhes do Produto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img [src]="item?.imageUrl || 'assets/imgs/produtos.jpeg'">
    <ion-card-header>
        <ion-card-subtitle>{{item?.nome}}</ion-card-subtitle>
        <ion-card-title> {{item?.preco |currency}}</ion-card-title>
    </ion-card-header>
    <ion-button fill="outline" slot="end" (click)="adicionar(item)">Adicionar no carrinho</ion-button>
</ion-card>

</ion-content>
